USE [master]
GO
/****** Object:  Database [BusesDB]    Script Date: 30.12.2024 14:38:18 ******/
CREATE DATABASE [BusesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BusesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BusesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BusesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusesDB]
GO
/****** Object:  Table [dbo].[tbl_otobus]    Script Date: 30.12.2024 14:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_otobus](
	[otobusID] [int] IDENTITY(1,1) NOT NULL,
	[otobusAdi] [nvarchar](30) NULL,
	[gidisYeri] [nvarchar](17) NULL,
	[varisYeri] [nvarchar](17) NULL,
	[resim] [nvarchar](max) NULL,
	[plaka] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[otobusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sefer]    Script Date: 30.12.2024 14:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sefer](
	[seferID] [int] IDENTITY(1,1) NOT NULL,
	[otobusID] [int] NULL,
	[yolcuID] [int] NULL,
	[seferKalkis] [nvarchar](17) NULL,
	[seferVaris] [nvarchar](17) NULL,
	[Tutar] [int] NULL,
	[Hasilat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[seferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sehirler]    Script Date: 30.12.2024 14:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sehirler](
	[SehirID] [int] IDENTITY(1,1) NOT NULL,
	[SehirAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_yolcu]    Script Date: 30.12.2024 14:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_yolcu](
	[YolcuID] [int] IDENTITY(1,1) NOT NULL,
	[yolcuAdi] [nvarchar](30) NULL,
	[yolcuSoyad] [nvarchar](20) NULL,
	[otobusNo] [int] NULL,
	[koltukNo] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[YolcuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_sefer]  WITH CHECK ADD FOREIGN KEY([otobusID])
REFERENCES [dbo].[tbl_otobus] ([otobusID])
GO
ALTER TABLE [dbo].[tbl_sefer]  WITH CHECK ADD FOREIGN KEY([yolcuID])
REFERENCES [dbo].[tbl_yolcu] ([YolcuID])
GO
ALTER TABLE [dbo].[tbl_yolcu]  WITH CHECK ADD FOREIGN KEY([otobusNo])
REFERENCES [dbo].[tbl_otobus] ([otobusID])
GO
USE [master]
GO
